
<body>
    <br />
    <h1 class="text-center home" style="margin-top: 80px">Welcome to Our Library</h1>
    <div class="flex-container text-center">
        <div class="cardP">
            <p>
                You have to borrow only one Book, and pay its price and when you return the book<br />
                we will give you your money back.
            </p>
        </div>
    </div>
</body>